/**
 * Open Sans Regular
 *
 */
@font-face {
    font-family: 'Open Sans';
    src: url(./../fonts/OpenSans/OpenSans-Regular.woff) format('woff');
    font-style: normal;
    font-weight: normal;
}



/**
 * Open Sans Semibold
 *
 */
@font-face {
    font-family: 'Open Sans';
    src: url(./../fonts/OpenSans/OpenSans-Semibold.woff) format('woff');
    font-style: normal;
    font-weight: normal;
}
